/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
    height: 100%;
}
    /* Optional: Makes the sample page fill the window. */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#pac-input {
    background-color: #fff;
    font-family: Georgia, Times;
    font-size: 400%;
    background-color: #F58E07;
    margin-left: 40%;
    margin-top: 2%;
    margin-right:30%;
    padding-left: 3px;
    text-overflow: ellipsis;
    width: 25%;
}

#left-panel {
  width: 25%;
  height: 100%;
  background-color:#F58E07;
  position: fixed;
  top: -1.0%;
  left: -4%;
  padding: 2%;
  -webkit-transition: all 1.0s ease-in-out;
}


#left-panel2 {
 width:9.4%;
 height:5.5%;
 position:absolute;
 left: 100%;
 top:-0.4%;
 bottom: 90%;
 border-top: solid black;
 border-right:  solid black;
 border-bottom:  solid black;
 border-bottom-right-radius: 20%;
 border-top-right-radius: 20%;
 right:-10%;
 background:#F58E07;

}


button {
    position: absolute;
    -webkit-appearance: none;
    background: transparent;
    display:block;
    top:1%;
    bottom:80%;
    right:1%;
    left:95%;
    border: 1;
    outline: transparent;
}
#rightButt{
    display: none;
}

.arrow {
    display:block;
    position: absolute;
    top:43%;
    bottom:45%;
    right:1%;
    left:95%;
    cursor: pointer;
}
.left {
  display: none;
}


.left:hover polyline,
.left:focus polyline {
  stroke-width: 3;
}

.left:active polyline {
  stroke-width: 3;
  transition: all 100ms ease-in-out;
}

.right:hover polyline,
.right:focus polyline {
  stroke-width: 3;
}

.right:active polyline {
  stroke-width: 3;
  transition: all 100ms ease-in-out;
}

polyline {
  transition: all 250ms ease-in-out;
}
